* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #313c4e;
  padding: 0.8rem 1rem 0.5rem 1.5rem;
}

header h1 {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

header p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 1.5;
}

header span {
  font-weight: bold;
}

nav {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(34, 42, 51);
  font-weight: 500;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-icon {
  margin-right: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column {
  padding: 1.5rem;
  border: 1px solid #ccc;
}

.year-cgpa-box {
  display: flex;
  justify-content: space-between;
}

.fa-solid,
.fa-brands {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
}
