* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fbfbf2;
}

header {
  /* background-color: #313c4e; */
  background-color: #274255;
  padding: 0.8rem 1rem 0.5rem 1.5rem;
}

header h1 {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

header p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 1.5;
}

header span {
  font-weight: bold;
}

nav {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.9);
  background-color: #202c39;
  font-weight: 500;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-icon {
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 20px; */
}

.column {
  padding: 1.5rem;
  border: 1px solid #ccc;
}

.subheading-text {
  color: #449399;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: bolder;
}

.sub-subheading-text {
  font-weight: bold;
  font-size: 1rem;
}

.education-box {
  line-height: 1.5rem;
}

.edu-box-subbox {
  margin-top: 1rem;
}

.year-cgpa-box {
  display: flex;
  justify-content: space-between;
  color: #449399;
  font-weight: bold;
  font-style: italic;
}

.work-exp-box {
  margin-top: 2rem;
}

.courses-box {
  line-height: 1.7rem;
  /* font-weight: ; */
}

.fa-solid,
.fa-brands {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
}
